* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(238, 236, 236);
}

.header {
    background-color: rgba(37, 37, 37, 0.377);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 4.5rem;
}

li a hr {
    border: 1.5px solid hsl(0, 44%, 85%);
    border-radius: 5px;
}


.logo img {  
    mix-blend-mode: multiply;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 4rem;
}

.logo h2, strong {
    padding-left: 5.2rem;
    color: white;
}

.text ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.text li {
    list-style-type: none;
    text-decoration: none;
}

.text a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.text li a:hover {
    color: rgb(199, 228, 255);
}

.icons i {
    padding-right: 1.5rem;
    color: white;
}

.chair {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px black;
    padding: 65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 30px;
}

.cart-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-box img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-details {
    display: grid;
    gap: 8px;
    margin-right: auto;
}

.cart-product-title {
    font-size: 16px;
    line-height: 1;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.cart-quantity button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-quantity #decrement {
    color: lightgray;
}

.cart-quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    cursor: default;
}

.cart-remove {
    font-size: 25px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid gray;
    margin-top: 20px;
    font-size: 18px;
}

.total-price {
    margin-left: 10px;
    font-weight: 600;
}

.btn-buy {
    display: block;
    padding: 10px 30px;
    background: #ffda06;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    margin: 20px auto 0;
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}


.product {
    position: relative;
}

.product-text h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.vertical1 {
    border-left: 4px solid rgb(255, 218, 6);
    height: 2.7rem;
    position: absolute;
    top: 0;
    left: 38.5rem;
}

.vertical2 {
    border-left: 4px solid rgb(255, 218, 6);
    height: 2.7rem;
    position: absolute;
    top: 0;
    right: 38.5rem;
}

.product-list {
    margin-bottom: 3rem;
}

.product-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
}

.product-list li a {
    text-decoration: none;
    color: black;
}

.product-list a:hover {
    border-bottom: 4px solid rgb(255, 218, 6);
    color: #ffda06;
}

.search-product input {
    position: relative;
    padding: 0 3rem;
    font-size: x-large;
    margin-left: 25rem;
    border-radius: 1.5rem;
    margin-bottom: 4rem;
    height: 3.5rem;
    width: 45rem;
}

.search-product i {
    position: absolute;
    font-size: 1.5rem;
    top: 5.5rem;
    left: 25.8rem;
}

.chairs h1,
.sofas h1,
.lamps h1,
.decors h1 {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.m-chair,
.m-sofa,
.m-lamp,
.m-decor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

.main-chair, 
.main-sofa,
.main-lamp,
.main-decor {
    background-color: #c7c7c7;
    box-shadow: 1px 1px 10px black;
    width: 17rem;
    height: 25rem;
    display: flex;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: center;
}

.chair-img, 
.sofa-img,
.lamp-img,
.decor-img {
    margin-top: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    width: 15rem;
}

.chair-img img,
.sofa-img img,
.lamp-img img,
.decor-img img {
    mix-blend-mode: multiply;
    margin: 0.5rem 1.2rem;
    width: 12rem;
    height: 14rem;
}

.chair-text, 
.sofa-text,
.lamp-text,
.decor-text  {
    text-align: center;
}

.chair-text h3, 
.sofa-text h3,
.lamp-text h3,
.decor-text h3 {
    font-size: 13px;
}

.chair-text button, 
.sofa-text button,
.lamp-text button,
.decor-text button {
    margin-top: 0.5rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    background: #ffda06;
    border: 0.2px solid black;
    color: white;
}

.chair-text button:hover, 
.sofa-text button:hover,
.lamp-text button:hover,
.decor-text button:hover {
    background: #969696;
    cursor: pointer;
}

.chairBtn, .sofaBtn, .lampBtn, .decorBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 15px;
    margin-bottom: 4.5rem;
}

.chairb, .sofab, .lampb, .decorb {
    display: block;
    background-color: #938f8f;
    border-radius: 1rem;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.chairb.active, 
.sofab.active, 
.lampb.active, 
.decorb.active {
    background-color: #ffda06;
}